*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:arial,sans-serif;
}
.header{
    background-color: #c8f7f3;
    text-align: center;
    padding:20px;
    font-size: 22px;
    font-weight: bold;
}
.food-section{
    background-color: #2c3238;
    color:white;
    text-align: center;
    padding: 40px 80px;
}
.food_section h2{
    margin-bottom:10px;
}
.image-section{
  height: "300px";
  background-image: url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  letter-spacing: 4px;
}
.pizza-section{
    background-color: #c8f7f3;
    padding: 30px 50px;
}
.pizza-section h3{
    margin: 10px 0;
}
.pizza-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px ;
}
.pizza-box.reverse{
    flex-direction: row-reverse;
}
.pizza-text{
    width: 70%;
    font-size: 14px;
    line-height: 1.6;
}
.pizza-img img{
    width: 180px;
    height: 130px;
    border-radius: 5px;
    box-shadow:0 4px 8px rgba(0,0,0,0.3);
    object-fit: cover;
}
.footer{
    background-color: #2c3238;
    color:white;
    text-align: center;
    padding:15px;
    font-size: 14px;
}